@using SurveyMVC.Models
@model Survey

<div>
    <h2>Submitted Info:</h2>
    <p>Name: @Model.Name</p>
    <p>Dojo Location: @Model.Location</p>
    <p>Favorite Language: @Model.Language</p>
    <p>Comment: @Model.Comment</p>
</div>